In [16]:
import pandas as pd
import math

In [3]:
expression = (input("Enter the expression in terms of x: "))

Enter the expression in terms of x: x*math.tan(x)-1.28

In [4]:
precision = int(input("Enter the precision digits: "))

Enter the precision digits: 3

In [32]:
a = round(int(input("enter the guess point 1: ")), precision+1)

enter the guess point 1: 0

In [33]:
b = round(int(input("Enter the guess point 2: ")), precision+1)

Enter the guess point 2: 1

In [62]:
g1 = a

In [63]:
g2 = b

In [64]:
bisect = None

In [65]:
var1 = [g1]

In [66]:
var2 = [g2]

In [67]:
x = g1

In [68]:
#value of fx
var1.append(eval(expression))

In [69]:
x = g2

In [70]:
#value of fx
var2.append(eval(expression))

In [75]:
subdf1 = pd.DataFrame([var1[0]], index = [0])

subdf2 = pd.DataFrame([var2[0]], index = [1])

In [76]:
iter = pd.concat([subdf1, subdf2] )

In [77]:
print(var1, var2)
iter

[0, -1.0068487550781047] [1, 0.27740772465490227]

   0
0  0
1  1

In [78]:
#new
c_g1, c_g2 = 0, 0
i = 1
j = 0
while True:
    #print(bisect, round(g1, precision), round(g2, precision))
    bisect = (g1+g2)/2
    
    if c_g1:  #g1 is changed then do this
        if bisect == g1:
            if c_g1 == 2:
                break
            c_g1 += 1
        else:
            c_g1 = 0
    
    if c_g2: #g2 is changed then do this
        if  bisect == g2:
            if c_g2 == 2:
                break
            c_g2 += 1
        else:
            c_g2 = 0
                
    x =round(bisect, precision+1)
    fb = eval(expression)
    
    if fb>0:
        bisect = round(bisect, precision)
        if var1[1]>0: #comparing value of fx
            c_g1 = 1
            g1 = bisect
            var1[1] = fb
        else:
            c_g2 = 1
            g2 = bisect
            var2[1] = fb
    if fb<0:
        bisect = round(bisect, precision)
        if var1[1]<0:
            c_g1 = 1
            g1 = bisect
            var1[1] = fb
        else :
            c_g2 = 1
            g2 = bisect
            var2[1] = fb
    if fb == 0:
        break
          
    j = 1+j
    if j == 100:    #just for safety that we dont fo in infinite loop
        break
    print(i)
    bisect = round(bisect, precision) #otherwise we will go in infinite loop because we are working with floating point numbers
    if c_g1 and c_g2 == 0 :   #if we remove 'and' part then we will get 2 more index in df
        i += 1
        subdf1 = pd.DataFrame([g1], index = [i])
        sd = pd.DataFrame([fb], index = [i])
        subdf1 = pd.concat([subdf1, sd], axis = 1)
        iter = pd.concat([iter, subdf1])
    if c_g2 and c_g1 == 0:    #if we remove 'and' part then we will get 2 more index in df
        i = i+1
        subdf2 = pd.DataFrame([g2], index = [i])
        sd = pd.DataFrame([fb], index = [i])
        subdf2 = pd.concat([subdf2, sd], axis = 1)
        iter = pd.concat([iter, subdf2])
    
    #subdf = pd.concat([subdf1, subdf2])
    #iter = pd.concat([iter, subdf1, subdf2])

iter

1
2
3
4
5
6
7
8
9
10
11

        0         0
0   0.000  0.000000
1   1.000  1.000000
2   0.750 -0.581303
3   0.875 -0.232256
4   0.938 -0.003058
5   0.969  0.130938
6   0.954  0.063270
7   0.946  0.031749
8   0.942  0.015250
9   0.940  0.007080
10  0.939  0.003015
11  0.938  0.000988