In [281]:
import pandas as pd

In [282]:
expression = (input("Enter the expression in terms of x: "))

Enter the expression in terms of x: x**3-2*x-5

In [283]:
precision = int(input("Enter the precision digits: "))

Enter the precision digits: 3

In [284]:
g1 = round(int(input("enter the guess point 1: ")), precision+1)

enter the guess point 1: -1

In [285]:
g2 = round(int(input("Enter the guess point 2: ")), precision+1)

Enter the guess point 2: 3

In [286]:
bisect = None

In [287]:
var1 = [g1]

In [288]:
var2 = [g2]

In [289]:
x = g1

In [290]:
#value of fx
var1.append(eval(expression))

In [291]:
x = g2

In [292]:
#value of fx
var2.append(eval(expression))

In [293]:
subdf1 = pd.DataFrame([var1[0]], index = [0])

subdf2 = pd.DataFrame([var2[0]], index = [1])

In [294]:
iter = pd.concat([subdf1, subdf2] )

In [295]:
print(var1, var2)
iter

[-1, -4] [3, 16]

   0
0 -1
1  3

i = 0
while bisect != round(g1, precision) and bisect != round(g2, precision):
    print(bisect, round(g1, precision), round(g2, precision))
    bisect = (g1+g2)/2
    x =round(bisect, precision+1)
    fb = eval(expression)
    
    if fb>0:
        bisect = round(bisect, precision)
        if var1[1]>0: #comparing value of fx
            g1 = bisect
            var1[1] = fb
        else:
            g2 = bisect
            var2[1] = fb
    if fb<0:
        bisect = round(bisect, precision)
        if var1[1]<0:
            g1 = bisect
            var1[1] = fb
        else :
            g2 = bisect
            var2[1] = fb
    if fb == 0:
        break
          
    i = 1+i
    if i == 25:
        break
    print(i)
    bisect = round(bisect, precision) #otherwise we will go in infinite loop because we are working with floating point numbers
    subdf1 = pd.DataFrame([g1], index = [i])
    subdf2 = pd.DataFrame([g2], index = [i+1])
    #subdf = pd.concat([subdf1, subdf2])
    iter = pd.concat([iter, subdf1, subdf2])
    #print(iter)

iter

In [296]:
#new
c_g1, c_g2 = 0, 0
i = 1
j = 0
while True:
    #print(bisect, round(g1, precision), round(g2, precision))
    bisect = (g1+g2)/2
    
    if c_g1:  #g1 is changed then do this
        if bisect == g1:
            if c_g1 == 2:
                break
            c_g1 += 1
        else:
            c_g1 = 0
    
    if c_g2: #g2 is changed then do this
        if  bisect == g2:
            if c_g2 == 2:
                break
            c_g2 += 1
        else:
            c_g2 = 0
                
    x =round(bisect, precision+1)
    fb = eval(expression)
    
    if fb>0:
        bisect = round(bisect, precision)
        if var1[1]>0: #comparing value of fx
            c_g1 = 1
            g1 = bisect
            var1[1] = fb
        else:
            c_g2 = 1
            g2 = bisect
            var2[1] = fb
    if fb<0:
        bisect = round(bisect, precision)
        if var1[1]<0:
            c_g1 = 1
            g1 = bisect
            var1[1] = fb
        else :
            c_g2 = 1
            g2 = bisect
            var2[1] = fb
    if fb == 0:
        break
          
    j = 1+j
    if j == 100:    #just for safety that we dont fo in infinite loop
        break
    print(i)
    bisect = round(bisect, precision) #otherwise we will go in infinite loop because we are working with floating point numbers
    if c_g1 and c_g2 == 0 :   #if we remove 'and' part then we will get 2 more index in df
        i += 1
        subdf1 = pd.DataFrame([g1], index = [i])
        iter = pd.concat([iter, subdf1])
    if c_g2 and c_g1 == 0:    #if we remove 'and' part then we will get 2 more index in df
        i = i+1
        subdf2 = pd.DataFrame([g2], index = [i])
        iter = pd.concat([iter, subdf2])
    
    #subdf = pd.concat([subdf1, subdf2])
    #iter = pd.concat([iter, subdf1, subdf2])

iter

None -1 3
1
1.0 1.0 3
2
2.0 2.0 3
3
2.5 2.0 2.5
4
2.25 2.0 2.25
5
2.125 2.0 2.125
6
2.062 2.062 2.125
7
2.093 2.093 2.125
8
2.109 2.093 2.109
9
2.101 2.093 2.101
10
2.097 2.093 2.097
11
2.095 2.093 2.095
12
2.094 2.094 2.095
13
2.095 2.095 2.095
14
2.095 2.095 2.095

        0
0  -1.000
1   3.000
2   1.000
3   2.000
4   2.500
5   2.250
6   2.125
7   2.062
8   2.093
9   2.109
10  2.101
11  2.097
12  2.095
13  2.094
14  2.095