In [1]:
import pandas as pd

In [29]:
exp1 = (input("Enter the expression1 in terms of y, z: "))

exp2 = (input("Enter the expression2 in terms of x, z: "))

exp3 = (input("Enter the expression3 in terms of x, y: "))

Enter the expression1 in terms of y, z: (85+z+6*y)/27
Enter the expression2 in terms of x, z: (72-2*z-6*x)/15
Enter the expression3 in terms of x, y: (110-x+y)/54

In [30]:
precision = int(input("Enter the precision digits: "))

Enter the precision digits: 4

In [31]:
x = round(int(input("enter the guess point 1: ")), precision)

enter the guess point 1: 0

In [32]:
y = round(int(input("Enter the guess point 2: ")), precision)

Enter the guess point 2: 0

In [33]:
z = round(int(input("Enter the guess point 2: ")), precision)

Enter the guess point 2: 0

In [34]:
print(exp1,'\n',exp2,'\n',exp3)
flag_x, flag_y, flag_z = 0, 0, 0
i = 0
while True:
    #print(x,'----------', y,'------------', x)
    
    x = round(eval(exp1), precision)
    y = round(eval(exp2), precision)
    z = round(eval(exp3), precision)
    
    if flag_x==x and flag_y == y and flag_z == z:
        break
    
    flag_x = x
    flag_y = y
    flag_z = z
    
    xn = pd.DataFrame([x], columns = ['xn'], index=[i])
    yn = pd.DataFrame([y], columns = ['yn'], index=[i])
    zn = pd.DataFrame([z], columns = ['zn'], index=[i])
    subdf = pd.concat([xn, yn, zn], axis = 1)
    
    if i == 0:
        iter = pd.DataFrame(subdf)
    else:
        iter = pd.concat([iter, subdf], axis = 0)
        
    i += 1
    
    if i==25:
        break
iter

(85+z+6*y)/27
 (72-2*z-6*x)/15
 (110-x+y)/54

       xn      yn      zn
0  3.1481  3.5408  2.0443
1  4.0107  2.9231  2.0169
2  3.8724  2.9821  2.0206
3  3.8857  2.9763  2.0202
4  3.8844  2.9769  2.0202
5  3.8845  2.9768  2.0202