In [289]:
import pandas as pd
import math

In [392]:
expression = (input("Enter the expression in terms of x: "))

Enter the expression in terms of x: x*math.tan(x)-1.28

In [394]:
precision = int(input("Enter the precision digits: "))

Enter the precision digits: 2

In [395]:
a = round(int(input("enter the guess point 1: ")), precision+1)

enter the guess point 1: 0

In [396]:
b = round(int(input("Enter the guess point 2: ")), precision+1)

Enter the guess point 2: 1

In [397]:
g1 = a

In [398]:
g2 = b

In [399]:
bisect = None

In [400]:
var1 = [g1]

In [401]:
var2 = [g2]

In [402]:
x = g1

In [403]:
#value of fx
var1.append(eval(expression))

In [404]:
x = g2

In [405]:
#value of fx
var2.append(eval(expression))

In [406]:
subdf1 = pd.DataFrame([g1], index = [0])

subdf2 = pd.DataFrame([g2], index = [1])

In [407]:
iter = pd.concat([subdf1, subdf2] )

In [408]:
print(var1, var2)
iter

[0, -1.28] [1, 0.27740772465490227]

   0
0  0
1  1

In [409]:
#new
c_g1, c_g2 = 0, 0
i = 1
j = 0
while True:
    #print(bisect, round(g1, precision), round(g2, precision))
    bisect = (g1+g2)/2
    
    if c_g1:  #g1 is changed then do this
        if bisect == g1:
            if c_g1 == 2:
                break
            c_g1 += 1
        else:
            c_g1 = 0
    
    if c_g2: #g2 is changed then do this
        if  bisect == g2:
            if c_g2 == 2:
                break
            c_g2 += 1
        else:
            c_g2 = 0
                
    x =round(bisect, precision)
    fb = eval(expression)
    
    if fb>0:
        bisect = round(bisect, precision)
        if var1[1]>0: #comparing value of fx
            c_g1 = 1
            g1 = bisect
            var1[1] = fb
        else:
            c_g2 = 1
            g2 = bisect
            var2[1] = fb
    if fb<0:
        bisect = round(bisect, precision+1)
        if var1[1]<0:
            c_g1 = 1
            g1 = bisect
            var1[1] = fb
        else :
            c_g2 = 1
            g2 = bisect
            var2[1] = fb
    if fb == 0:
        break
          
    j = 1+j
    if j == 20:    #just for safety that we dont fo in infinite loop
        break
    print(i)
    bisect = round(bisect, precision) #otherwise we will go in infinite loop because we are working with floating point numbers
    
    if c_g1 and c_g2 == 0 :   #if we remove 'and' part then we will get 2 more index in df
        i += 1
        #subdf1 = pd.DataFrame([g1], index = [i])
        subdf1 = pd.DataFrame([g1], index = [i])
        sd = pd.DataFrame([fb], index = [i])
        subdf1 = pd.concat([subdf1, sd], axis = 1)
        iter = pd.concat([iter, subdf1])
    if c_g2 and c_g1 == 0:    #if we remove 'and' part then we will get 2 more index in df
        i = i+1
        #subdf2 = pd.DataFrame([g2], index = [i])
        subdf2 = pd.DataFrame([g2], index = [i])
        sd = pd.DataFrame([fb], index = [i])
        subdf2 = pd.concat([subdf2, sd], axis = 1)
        iter = pd.concat([iter, subdf2])
    
    #subdf = pd.concat([subdf1, subdf2])
    #iter = pd.concat([iter, subdf1, subdf2])

    

iter

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

        0         0
0   0.000  0.000000
1   1.000  1.000000
2   0.500 -1.006849
3   0.750 -0.581303
4   0.875 -0.215496
5   0.940  0.007080
6   0.907 -0.109404
7   0.923 -0.071797
8   0.931 -0.032987
9   0.940  0.007080
10  0.940  0.007080
11  0.940  0.007080
12  0.940  0.007080
13  0.940  0.007080
14  0.940  0.007080
15  0.940  0.007080
16  0.940  0.007080
17  0.940  0.007080
18  0.940  0.007080
19  0.940  0.007080
20  0.940  0.007080